admin_password: password
configure_private_vars: {}
database: internal
munin_password: password
pg_password: AfgZVMpZijirkPshZVhydLrwEeCGWUvG52cuhNEE
primary_machine: tower-01
redis_password: h4h4XrbPTPcbuKAZn4egbcTaJaqQjo2ajUXEohYj
